django==5.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
langchain
langchain-text-splitters
langchain-google-genai
langchain-chroma
chromadb
beautifulsoup4
requests
PyPDF2
python-dotenv
google-auth
